/Lecture 1 - Generics and Reflection/nbproject/private/
/Lecture 1 - Generics and Reflection/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/GuiceExample/nbproject/private/
/GuiceExample/build/
/Lecture 2 - HelloWorld with DI/nbproject/private/
/nbproject/private/